<h1><%= @movie.title %></h1>
<fieldset> 
<h2>Release Date: <%=@movie.release_date%></h2>
<h2>Genre: <%=@movie.genre%></h2>
<h2>Director: <%=@movie.director%></h2>
<h2>Run Time: <%=@movie.run_time%></h2>

</fieldset>

